/* CSS Document */

/* 要点详记： */

/* 1.只需要在线性渐变或径向渐变的前面加上repeating单词即可 */

/* 2.颜色的后面一定要跟上色标值，否则没有作用 */

.ceng {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	border-radius: 50%;
	float: left;
	margin: 10px;
}

.circle {
	background-image: repeating-linear-gradient(red 0px,orange 40px ,green 80px);
}

.ellipse {
	background-image: repeating-radial-gradient(red 0px,blue 40px,orange 50px);
}
