/* CSS Document */
/* keyframes有两种方式 */

/* 1：for to */

/* 2：百分比 */



/* CSS种的animation是复合属性 */

/* animation是以下所有符合属性的简写，使用时只需要把值顺序填入即可 */



/* animation-name 需要执行的动画，值为关键帧名字由@keysfamts定义 */

/* animation-duration 执行动画的总时间，值为number类型*/

/* animation-timing-function  */

/*(timing-function)是css数据类型表示一个数学函数（又称缓动函数），他描述了一个过渡或动画中一维数值的改变速度。（加速度曲线） */

/* 值：ease、ease-in、ease-in-out、step-end、step-start、steps()、cubic-bezier(x1,y1,x2,y2)、linear、 */

/* animation-delay 延时执行动画，值为number*/

/* animation-iteration-count 执行动画的次数，值可为number或infinite(重复执行)*/

/* animation-direction 指示动画是否反向播放，值：normal | reverse | alternate | alternate-reverse*/

/* animation-fill-mode 设置css样式再执行之前和执行之后如何将样式应用于目标，值：none | forwards | backwards | both */

/* animation-play-state 查询或设置动画的播放状态，值：running | paused */

.rect {
	width: 100px;
	height: 100px;
	background-color: red;
    position: fixed;
	animation-name: mymove;
	animation-delay: 1s;
	animation-duration: 15s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}
@keyframes mymove{
	0%{top :0%;left:20%;background-color: red;}
	25%{top: 0%;left:80%;background-color: yellow;}
	50%{top:80%;left: 80%;background-color: green;}
	75%{top: 80%;left: 20%;background-color: orange;}
	100%{top: 0%;left: 20%;background-color: red;}
}
